{{#with results}}
<p>
<h1>Search Term: {{searchTerm}}</h1>
</p>

<table>
  <tr>
    <th>Repo Full Name</th>
    <th>Description</th>
    <th>Updated At</th>
    <th>Clone URL</th>
    <th>Stars</th>
    <th>Avatar</th>
  </tr>

  {{#each values}}
  <tr>
    <td style="width: 200px;">{{full_name}}</td>
    <td style="width: 500px;">{{description}}</td>
    <td>{{updated_at}}</td>
    <td><a href={{clone_url}} target="_blank">{{clone_url}}</a></td>
    <td>{{stargazers_count}}</td>
    <td><img style="width:50px;" src={{owner.avatar_url}} /></td>
  </tr>
  {{/each}}
  {{/with}}
</table>

<div style="border: 1.5px solid green; padding:10px;">
  {{#with results}}
  {{#each links}}
  <span style="font-size: 1.5em; margin-right: 5px;">
    <a style="color:#4CAF50" href={{link}}>{{no}}</a>
  </span>
  {{/each}}
  {{/with}}
</div>